<div class="profile-box">
    <div class="user-info-box">
        <img alt="profile picture image" src="https://images.unsplash.com/photo-1495615080073-6b89c9839ce0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=906&q=80">
        <div class="user-info">
            <span class="user-name">Toc</span>
            <span class="user-tag">@vare_tom</span>
        </div>
    </div>
    <div class="more-actions">
        <img src="../../../assets/icons/more2.png" alt="more actions icon">
    </div>
</div>
